<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.gondr.mappers.UserMapper">
	<insert id="insertUser">
		INSERT INTO spring_users (userid, name, password, exp, level, img)
		VALUES ( #{userid}, #{name}, PASSWORD(#{password}), 0, 1, #{img})
	</insert>
	
	<select id="selectUser" resultType="UserVO">
		SELECT * FROM spring_users WHERE userid = #{userid}
	</select>
	
	<select id="loginUser" resultType="UserVO">
		SELECT * FROM spring_users
		WHERE userid = #{userid} AND password = PASSWORD(#{password})
	</select>
	
	<insert id="levelData">
		INSERT INTO spring_exp(level, exp) VALUES ( #{level}, #{exp})
	</insert>
	
	<delete id="clearData">
		DELETE FROM spring_exp
	</delete>
	
	<select id="requireExp" resultType="Integer">
		SELECT exp FROM spring_exp WHERE level = #{level}
	</select>
	
	<update id="setLevelAndExp">
		UPDATE spring_users SET level = #{level}, exp = #{exp} WHERE userid = #{userid}
	</update>
</mapper>