*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.all-comment{
	background-color: rgb(248, 254, 255);
	padding: 0px;
}

.comment-box{
	margin: 0px 10px;
	margin-bottom: 5px;
}

.profile{
	display: flex;
	
}
.profile > img{
	margin-right:2.5px;
}
.profile > span{
	margin: 0px 2.5px
}
.margin-bottom{
	margin-bottom:10px;
}
.write-box{
	display: flex;
	justify-content: center;
}
.write-input{
	
}

.hide{
	display: none;
}
.show{
	display: block;
}
.event-btn{
	text-align: right;
}
.flex-center{
	display:flex;
	align-items: center;
}




