*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    outline: none;
}
a:hover{
	text-decoration: none;
}

.all-box{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:minmax(320px, 320px);
  
    grid-column-gap: 32px;
    grid-row-gap: 6px;

}

.content-img{
    width: 100%;
    height: 170px;
}
.board-box{
	width: 231.9px;
    box-shadow: 2px 2px 2px rgb(218, 216, 216);
    height: 280px;
    background-color: rgb(255, 255, 255);
}

.content-box{
	position: relative;
    height: 110px;
    width: 100%;
}
.right{
	padding-right:35px;
}

.title{
	margin: 0px 5px;
	font-size: 26px;
    color: rgb(40, 40, 41);
    margin-bottom: 20px;
    overflow: hidden;
}
.box{
    position: absolute;
    right: 20px;
        bottom: 15px;
}
.writer{
    color:#609bf5;
    font-weight: bold;
   
}

.date{
    color: rgb(211, 208, 208);
    
}
.thumbnail{
    background-color:#d2e0ff;
	width: 100%;
    height: 170px;
}

